
 <article id="list-products">
      {{#each listadeproductos}}
<article class="container" id="list-products">
  <div class="card">
    <div class="imgBx">
      <img src="{{thumbnail}}" width="150" />
    </div>
    <div class="contentBx">
      <h2>{{title}}</h2>
      <div class="size">
        <h3>{{description}}</h3> <!-- Utiliza {{this.description}} -->
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div>
      <div class="color">
        <h3>{{price}}</h3>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="#">Buy Now</a>
    </div>
  </div>
</article>
{{/each}}
</article>